img {
    display: block;
    margin: 0% auto;
    padding-top: 109px;
}

#searchForm {
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

#searchButtons {
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

::-moz-focus-inner {border:0;}

input[type=submit] {
    border: 0;
    border-radius: 5%;
    /* background-color: #f2f2f2; */
    /* border: 1px solid #5c5a5a; */
}

input[type=submit]:hover {
    border: 1px solid rgba(105, 104, 104, 0.85);
}

#searchBtn{
    width: 129px;
    height: 36px;
}

#imluckyBtn  {
    width: 144px;
    height: 36px;
}

#searchForm > #searchField {
    background: transparent;
    width: 427px;
    height: 34px;
    border: 2px solid rgba(105, 104, 104, 0.85);
    border-radius: 35px;
    line-height: 34px;
    text-align: left;
}


