body, td, a, p, .h {
    font-family: arial,sans-serif;
}


.header {
    
    /* display: block; */
    width: 100%;
    height: 30px;
    /* margin: 0 0 0 0; */
    margin-top: 30px;

    /* background: green; */
}

.header ul {
    /* display: block; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* .header li {
    margin-left: 15px;
} */


.header input[type=button]{
    display: block;
    float:right;
    border: 5px solid #4583ee;
    border-radius: 2px;
    height: 30px;
    width: 71px;
    background: #4583ee;
    color: white;
    font-weight: 500;
    margin-top: -10px;
    margin-right: 30px;
}



.header li.onRight {
    float: right;
    margin-right: 30px;
    /* margin-right: 40px; */

    /* margin-right: 30px; */
}

.header li.onLeft {
    float: left;
    margin-left: 15px;
}

.header li a {
    display: block;
    color:#222222;
    font-size: 13px;
    text-decoration: none;
}


.footer {
    position: fixed;
    width: 100%;
    height: 40px; 
    /* top: 0; */
    left: 0;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
    /* margin-left: 30px; */

    /* background-color: green; */

}

.footer ul {
    margin: 0;
    padding: 0; 
    list-style-type: none;
}

.footer li.onRight {
    float: right;
    padding-right: 27px;
    line-height: 40px;
    /* margin-right: 30px; */
    /* margin-right: 40px; */

    /* margin-right: 30px; */
}


.footer span {
    padding-left: 27px;
    line-height: 40px;
    color: rgba(0,0,0,.54);
}
.footer li.onLeft {
    float: left;
    padding-left: 27px;
    line-height: 40px;
    /* margin-left: 15px; */
}

.footer li a {
    display: block;
    color: #5f6368;
    font-size: 13px;
    text-decoration: none;
}


img {
    display: block;
    margin: 0% auto;
    padding-top: 109px;
}

#searchForm {
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

#searchButtons {
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

::-moz-focus-inner {border:0;}

input[type=submit] {
    border: 0;
    border-radius: 5%;
    /* background-color: #f2f2f2; */
    /* border: 1px solid #5c5a5a; */
}

input[type=submit]:hover {
    border: 1px solid rgba(105, 104, 104, 0.85);
}

#searchBtn{
    width: 129px;
    height: 36px;
}

#imluckyBtn  {
    width: 144px;
    height: 36px;
}

#searchForm > #searchField {
    background: transparent;
    width: 427px;
    height: 34px;
    border: 2px solid rgba(105, 104, 104, 0.85);
    border-radius: 35px;
    line-height: 34px;
    text-align: left;
}

